flows.json
[
    {
        "id": "e34226b2e39fb0a2",
        "type": "tab",
        "label": "Examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e22036e.f80bdc",
        "type": "tab",
        "label": "tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "37e7ceb6f79f5241",
        "type": "Kafka Broker",
        "name": "",
        "hosts": [
            {
                "host": "broker",
                "port": 9092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    },
    {
        "id": "cb35ede73d7fada3",
        "type": "http in",
        "z": "e34226b2e39fb0a2",
        "name": "",
        "url": "/nodered",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "a906de2ca5a450c0"
            ]
        ]
    },
    {
        "id": "d8b2ae5f68565d8a",
        "type": "http response",
        "z": "e34226b2e39fb0a2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "a906de2ca5a450c0",
        "type": "template",
        "z": "e34226b2e39fb0a2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hello From NodeRED",
        "output": "str",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "d8b2ae5f68565d8a"
            ]
        ]
    }
]